*.app
*.beam
*.d
*.dump
*.lock
*.o
*.plt
*.so
*.swp
*.tfstate*
.env
.erlang.mk*
.eunit
.nyc_output
.pid
.terraform
build
deps
ebin
elvis
elvis.config
hidden.env
logs
node_modules
npm-debug.log
smf/manifests/*.xml
xrefr
